/* The following two changes are needed to fix the line number gutters from being ~50% lower than they should be and
thus not lining up with their line content */
.d2h-code-side-linenumber, .d2h-code-linenumber {
    top:0;
} 
.d2h-diff-tbody tr {
    position: relative;
}

#ci_cd_status_text.passing {
    color: forestgreen;
}

#ci_cd_status_text.failing {
    color: red;
}

#custom-diff-area {
    padding: 25px 0;
    width:95vw;
    margin: 25px auto;
}

/* .d2h-file-list-wrapper { */
/* } */
.d2h-file-list-line {
background-color: #eee;
border-radius: 5px;
}

.d2h-file-stats span {
    border-width: 2px;
    text-align: center;
    min-width:30px;
}

/*
STUPID MARKDOWN FIXES
*/
blockquote {
    margin-left: 2px;
    padding-left: 10px;
    border-left: 1px solid gray;
}
.markdown li {
    /* list-style-position: inside; */
    list-style-type: disc;
    margin-top: -20px;
}
.markdown ul {
    padding-left: 20px;
}
.markdown hr {
    display: block;
}

.d2h-file-header .collapse-button {
    /* position: absolute;
    right: */
    padding: 0.5em 1em;
    border: 1px solid #555;
    border-radius: 1px;
    cursor: pointer;
    /* background-color: #e6eaef; */
    background-color: #fff;
    margin-top:2px;
    border-radius: 5px;
}

.d2h-file-header .collapse-button:hover {
    background-color: #555;
    color: #fff;
}

.d2h-file-header .right-div {
    position: absolute;
    right: 10px;   
    top: 0px;
    height: 100%;
}
.d2h-file-header .d2h-file-name-wrapper {
    position: relative;
}

/* Make all the file diff element's headers sticky */
.d2h-file-header {
    position: sticky;
    top: 0;
    background-color: #e6eaef;
    z-index: 10;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #555;
}

.d2h-tag {
    padding: 9px 9px 6px 9px;
    border-radius: 5px;
    margin-left: 10px;
    line-height: 1;
    background-color: transparent;
    font-weight: bold;
} 

.d2h-file-side-diff {
    /* In side-by-side mode, if editable comment is inserted on opposite side, default background color is exposed */
    background-color: rgb(241, 241, 241);
}

/* Make the stupid private banner only display at top of page and not sticky/fixed */
.yui3-banner-content.private {
    position: static !important;
}

/* The filename link in the files list section */
a.d2h-file-name {
    cursor: pointer;
}
a.d2h-file-name:hover {
    text-decoration: underline;
}

.d2h-file-name {
    margin-top: 2px;
}

button.show-old-diff-button {
    padding: 0.5em 1em;
    border: 1px solid #555;
    border-radius: 1px;
    cursor: pointer;
    background-color: #f5f5f5;
}

/* The button for switching between unified and split view */
button#diff-view-switcher {
    padding: 1em 2em;
    border-radius: .25em;
    border: 1px solid #555;
    cursor: pointer;
    margin-bottom: 10px;
}
button#diff-view-switcher:hover {
    background-color: #555;
    color: #fff;
}

.d2h-file-wrapper.collapsed .d2h-files-diff, .d2h-file-wrapper.collapsed .d2h-file-diff {
    display: none;
} 

.d2h-file-wrapper {
    border: 1px solid #555;
    border-radius: 5px;
}

.d2h-inline-comment-row {
    background-color: #fff;
    padding: 10px;
    /* TODO: make it so that border on top and bottom can actually show - might need to insert new element wrapper to do
    so*/
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}

.d2h-inline-comment-card
{
    max-width: 1000px;
    border-radius: 5px;
    border: 1px solid #555;
    margin: 10px;
    /* padding: 0px 5px 5px 5px; */
}

d2h-inline-comment-thread {
    border-top: 1px solid #000;
    padding-top: 5px;
}
.d2h-inline-comment {
    /* padding: 0 5px 5px 5px; */
    max-width: 100%;
    /* border: 1px solid #555; */
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
}
.d2h-inline-comment-header {
    /* border-bottom: 1px solid #000; */
    padding: 5px 10px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.d2h-inline-comment-header span {
    display: flex;
    line-height: 25px;
}

.d2h-inline-comment-header img {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
}

.d2h-inline-comment-header .d2h-inline-comment-author {
    font-weight: bold;
}

.d2h-inline-comment-header .d2h-inline-comment-date {
    color: #555;
    margin-left: 12px;
    // center it vertically
    align-self: center;
}

.d2h-inline-comment-body {
    padding: 0px 10px;
    margin:0;
    margin-left: 20px;
    border-left: 2px solid #ccc;
    padding-left: 20px;
    padding-bottom: -10px;
    overflow: hidden;
}

.markdown p {
    font-size: 13px;
    margin:0;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Ubuntu variable", Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif !important;
    line-height: 1.4;
    padding: 2px 0;
}

.markdown p:last-child {
    margin-bottom: 5px; // 5px instead of 10px
}

.markdown pre:has(> code) {
    background-color: #eee;
    border-radius: 5px;
    overflow: scroll;
    padding: 10px;
    line-height: 1;
    margin-bottom: 0px;
}

.markdown code {
    background-color: #eee;
    border-radius: 3px;
    line-height: 1.5;
    padding: 2px;
    font-size: 13px;
    font-family: "Ubuntu Mono variable", "Ubuntu Mono", Consolas, Monaco, Courier, monospace;
}

.markdown p br {
    display: none;
}

.d2h-code-comment-card {
    /* padding: 10px; */
    border-radius: 10px;
    border: 1px solid #555;
    margin-bottom: 10px;
    max-width: 1000px;
    /* overflow: hidden; */
    padding-bottom: 10px;
}

.d2h-code-comment-card .d2h-diff-table-container {
    border-bottom: 1px solid #555;
    overflow: scroll !important;
}

.d2h-diff-table {
    overflow: scroll !important;
    font-size:13px !important;
    line-height: 1.5 !important;
    font-family: "Ubuntu Mono variable", "Ubuntu Mono", Consolas, Monaco, Courier, monospace !important;
}

.d2h-code-comment-card .d2h-inline-comment {
    /* margin: 0;
    border: none; */
}

.d2h-code-comment-card-header {
    border-bottom: 1px solid #555;
    padding: 10px;
    position: relative;
}

.d2h-code-comment-card-header h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    color: #555;
    display: inline-block;
    line-height: 1;
    /* padding: 10px 5px; */
}

.d2h-outdated-tag {
    border: 1px solid #E95420;
    border-radius: 100px;
    padding: 5px 15px;
    color: #E95420;
    /* font-weight: bold; */
    font-size: 12px;
    margin-left: 20px;
    /* display: inline-block; */
    position: absolute;
    top:50%;
    right: 20px;
    line-height: 1;
    transform: translateY(-50%);
}

.d2h-inline-comment-button {
    padding: 0.5em 1em;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    margin: 0px 2px;
    border: 1px solid #555;
    width: 140px;
    float:right;
}
.d2h-inline-comment-button.save-draft {
    background-color: #0FF053;
    color: #000;
}
.d2h-inline-comment-button.save-draft:hover {
    background-color: #20DF44;
}
.d2h-inline-comment-button.post-comment, .d2h-inline-comment-button.discard-changes, .d2h-inline-comment-button.cancel-comment {
    background-color: #ddd;
    color: #000;
}
.d2h-inline-comment-button.post-comment:hover, .d2h-inline-comment-button.discard-changes:hover, .d2h-inline-comment-button.cancel-comment:hover {
    /* background-color: #ddd; */
}
.d2h-inline-comment-button.delete-draft {
    color: #dc3545;
    background-color: #ddd;
    /* background-color: #FF3700; */
    /* color: #000; */
}
.d2h-inline-comment-button.delete-draft:hover {
    border-color: #dc3545;
    /* background-color: #E64119; */
}
.d2h-inline-comment-button.disabled {
    background-color: #aaa;
    color: #000;
    cursor: not-allowed;
}
.d2h-inline-comment-button.disabled:hover {
    background-color: #aaa !important;
}

.d2h-inline-comment-reply-button {
    padding: 0.5em 1em;
    border: 1px solid #555;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 5px 2px;
    background-color: #fff;
    margin-left: 15px;
} 
/* TODO: add more margin to bottom of reply button when inside .d2h-inline-comment-thread */
.d2h-inline-comment-thread .d2h-inline-comment-reply-button {
    margin-bottom: 15px !important;
}
.d2h-code-comment-card .d2h-inline-comment-reply-button {
    margin-bottom: 5px !important;
}


.d2h-inline-comment-tabs {
    border-radius: 5px 5px 0 0;
    position: relative;
    background-color: #e6eaef !important;
    border-bottom: 1px solid #555;
}
.d2h-inline-comment-tab {
    color: #555;
    border-radius: 5px 5px 0px 0px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #e6eaef;
    z-index: 0;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: none;
    /* margin-bottom: -1px; */
}
.d2h-inline-comment-tab.active {
    background-color: #fff;
    color: #000;
    z-index: 2;
    border: 1px solid #555;
    border-bottom: 1px solid #fff;
}
.d2h-inline-comment-tab:hover {
    color: #000;
}
.d2h-inline-comment-tab.edit-comment {
    /* border-right: none */
    /* margin: 0px 1px 0px 0px !important; */
    margin-top: 0px;
    margin-left: 0px;
}
.d2h-inline-comment-tab.preview-comment {
    margin-top: 0px;
    margin-left: 0px;
}
.d2h-inline-comment-tab.edit-comment.active {
    margin-top: -1px;
    margin-left: -1px;
}
.d2h-inline-comment-tab.preview-comment.active {
    margin-top: -1px;
    margin-left: 0px;
}
.d2h-inline-comment-textarea {
    padding: 13px;
    border-radius: 5px;
    border: 1px solid #555;
    width: 100%;
    min-height: 120px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    max-width: 100%;
    font-family: "Ubuntu variable", Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, sans-serif !important;
    line-height: 1.4;
}
.d2h-inline-comment-preview {
    padding: 10px;
    /* border-radius: 5px; */
    /* border: 1px solid #555; */
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
}


.d2h-inline-comment-content-area {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    /* border: 1px solid #555; */
    padding: 5px;
}

.d2h-inline-comment-footer {
    padding: 0px 5px 5px 5px;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
}

/* Spinner style */
.custom-button-spinner::after {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spin 0.6s linear infinite;
    margin-left: -12px;
}

/* Spinner animation keyframes */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
