/* The following two changes are needed to fix the line number gutters from being ~50% lower than they should be and
thus not lining up with their line content */
.d2h-code-side-linenumber, .d2h-code-linenumber {
    top:0;
} 
.d2h-diff-tbody tr {
    position: relative;
}

#ci_cd_status_text.passing {
    color: forestgreen;
}

#ci_cd_status_text.failing {
    color: red;
}

#custom-diff-area {
    padding: 25px 0;
    width:95vw;
    margin: 25px auto;
}

/* .d2h-file-list-wrapper { */
/* } */
.d2h-file-list-line {
background-color: #eee;
border-radius: 5px;
}

.d2h-file-stats span {
    border-width: 2px;
    text-align: center;
    min-width:30px;
}

/*
STUPID MARKDOWN FIXES
*/
blockquote {
    margin-left: 2px;
    padding-left: 10px;
    border-left: 1px solid gray;
}
.markdown li {
    /* list-style-position: inside; */
    list-style-type: disc;
    margin-top: -20px;
}
.markdown ul {
    padding-left: 20px;
}
.markdown hr {
    display: block;
}

.d2h-file-header .collapse-button {
    /* position: absolute;
    right: */
    padding: 0.5em 1em;
    border: 1px solid #555;
    border-radius: 1px;
    cursor: pointer;
}

.d2h-file-header .collapse-button:hover {
    background-color: #555;
    color: #fff;
}

.d2h-file-header .right-div {
    position: absolute;
    right: 10px;   
    top: 0px;
    height: 100%;
}
.d2h-file-header .d2h-file-name-wrapper {
    position: relative;
}

/* Make all the file diff element's headers sticky */
.d2h-file-header {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    z-index: 1;
}

/* Make the stupid private banner only display at top of page and not sticky/fixed */
.yui3-banner-content.private {
    position: static !important;
}

/* The filename link in the files list section */
a.d2h-file-name {
    cursor: pointer;
}
a.d2h-file-name:hover {
    text-decoration: underline;
}

button.show-old-diff-button {
    padding: 0.5em 1em;
    border: 1px solid #555;
    border-radius: 1px;
    cursor: pointer;
    background-color: #f5f5f5;
}

/* The button for switching between unified and split view */
button#diff-view-switcher {
    padding: 1em 2em;
    border-radius: .25em;
    border: 1px solid #555;
    cursor: pointer;
}
button#diff-view-switcher:hover {
    background-color: #555;
    color: #fff;
}

.d2h-file-wrapper.collapsed .d2h-files-diff, .d2h-file-wrapper.collapsed .d2h-file-diff {
    display: none;
} 

.d2h-inline-comment-row {
    background-color: #fafafa;
}

.d2h-inline-comment-container
{
    padding: 10px 25px;
    max-width: 800px;
}
.d2h-inline-comment {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    max-width: 100%;
    border: 1px solid #555;
    overflow: hidden;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.d2h-inline-comment-header {
    border-bottom: 1px solid #555;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px 10px;
    /* font-size: ; */
}

.d2h-inline-comment-body {
    /* padding: 10px; */
}

.d2h-code-comment-card {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #555;
    margin-bottom: 10px;
    max-width: 1000px;
}

.d2h-inline-comment-button {
    padding: 0.5em 1em;
    /* border: 1px solid #555; */
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    margin: 5px 2px;
}
.d2h-inline-comment-button.post-comment {
    background-color: limegreen;
    color: #fff;
}
.d2h-inline-comment-button.post-comment:hover {
    background-color: rgb(65, 255, 65);
}
.d2h-inline-comment-button.save-draft, .d2h-inline-comment-button.cancel-comment {
    background-color: rgb(92, 106, 119);
    color: #f5f5f5
}
.d2h-inline-comment-button.save-draft:hover, .d2h-inline-comment-button.cancel-comment:hover {
    background-color: rgb(112, 128, 144);
}


/*

    const tabs = document.createElement("div");
    tabs.classList.add("d2h-inline-comment-tabs");
    const tab1 = document.createElement("button");
    tab1.innerText = "Edit Comment";
    tab1.classList.add("d2h-inline-comment-tab");
    tab1.classList.add("edit-comment");
    tab1.classList.add("active");
    const tab2 = document.createElement("button");
    tab2.innerText = "Preview Comment";
    tab2.classList.add("d2h-inline-comment-tab");
    tab2.classList.add("preview-comment");
    tabs.appendChild(tab1);
    tabs.appendChild(tab2);
    
    */

.d2h-inline-comment-tabs {
    position: relative;
}
.d2h-inline-comment-tab {
    padding: 5px 10px 5px 10px;
    border: 1px solid #555;
    border-radius: 3px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); */
    margin: -1px 0px;
    display: inline-block;
    background-color: #aaa;
    color: black;
    z-index: 0;
    position: relative;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.d2h-inline-comment-tab.active {
    background-color: #ddd;
    color: black;
    /* z-index: 2; */
    /* border-bottom: none; */
}
.d2h-inline-comment-tab:hover {
    background-color: #eee;
    color: black;
}
.d2h-inline-comment-tab.edit-comment {
    border-right: none
}
.d2h-inline-comment-tab.preview-comment {
    border-left: none;
}
.d2h-inline-comment-tab.edit-comment.active {
    border-right: 1px solid #555;

}
.d2h-inline-comment-tab.preview-comment.active {
    border-left: 1px solid #555;

}
.d2h-inline-comment-textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    width: 100%;
    height: 120px;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}
.d2h-inline-comment-preview {
    padding: 20px 20px 10px 20px;
    border-radius: 5px;
    border: 1px solid #555;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
}


.d2h-inline-comment-content-area {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #555;
    padding: 20px;
}

